# Exclude everything
**

# Include requirements files (at repo root)
!requirements*.txt

# Include the application source tree
!src/app/**

# Exclude specific requirements if necessary
# requirements-test.txt (Uncomment if you decide to exclude this)
